version: "3.8"

services:
  app:
    build: .
    ports:
      - "7860:7860"
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./database:/app/database
      - ./logs:/app/logs
    restart: unless-stopped
